name=I2PControl
signer=zzz-plugin@mail.i2p
consoleLinkName=I2PControl
description=Remote Control Service 
author=hottuna
websiteURL=http://zzz.i2p/forums/16
updateURL=http://stats.i2p/i2p/plugins/I2PControl-update.xpi2p
updateURL.su3=http://stats.i2p/i2p/plugins/I2PControl-update.su3
license=Apache 2.0
min-jetty-version=9
min-i2p-version=0.9.30
